.App {
  text-align: center;
}

/* .menu {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.menu-item {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
}

h2 {
  color: #333;
} */
